/* Start Variables */
:root {
	--main-color: #19c8fa;
}
/* End Variables */
/* Start Global Rules */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "open sans", sans-serif;
	background-color: black;
}
ul {
	list-style: none;
}
.container {
	margin: 0 auto;
	padding: 0 15px;
}
/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Medium */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* End Global Rules */
/* Start Header */
header {
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
header .container::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 15px;
	width: calc(100% - 30px);
	height: 1px;
	background-color: #a2a2a2;
}
header .logo img {
	height: 40px;
}
header nav {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
nav ul {
	display: flex;
}
nav a {
	padding: 40px 10px;
	display: block;
	color: white;
	text-decoration: none;
	font-size: 14px;
	transition: color 0.3s;
	position: relative;
	z-index: 1;
}
nav a:hover,
nav a.active {
	color: var(--main-color);
	border-bottom: 1px solid var(--main-color);
}
header nav .form {
	position: relative;
	margin-left: 40px;
	width: 40px;
	height: 30px;
	border-left: 1px solid white;
}
header nav .form i {
	color: white;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	font-size: 20px;
}
/* End Header */
